.rec {
  width: 1140px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  margin-top: 120px;
  font-size: 25px;
  box-shadow: 0px 19px 16px -30px #4f5665;
}

.rectangleDiv {
  margin-left: 110px;
  display: flex;
  flex-direction: row;
}

.be {
  margin: 0px 170px 0px 0px;
}

.pe {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  color: #4f5665;
}

.circulito {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
}

.circulitoi {
  display: flex;
  position: relative;
  margin-right: 34px;
  background-color: #ffecec;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px;
}

@media only screen and (max-width: 1200px) {
  .rec {
    flex-direction: column;
    width: auto;
    height: 0%;
  }

  .rectangleDiv{
    margin-bottom: 50px;
  }

  .linea {
    display: none;
  }
}
